<html>
    <head>
        <title><%= pagina %></title>
    </head>
    <body>
        <h1><%=pagina%></h1>
        <ul>
        <% for (let produto of produtos) {%>
            <li><%= produto.item %></li>
        <%}%>
        </ul>

        <select><% for(let produto of produtos) {%>
            <option value="<%= produto.item %>"><%= produto.item %></option>
            <%}%>
        </select>
    </body>
</html>